{% extends 'fo_partials/base.html.twig' %}

{% block title %}Recherche avancée sur enSeWclopedia{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap-select-css') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2 teal lighten-4 d-flex flex-column pt-4 pr-2 align-items-center">
            {% for type in types %}
                <a href="{{ path('search_by_type', {'slug': type.slug }) }}" role="button" title="{{ type.libelle }}"
                class="border border-black w-50 my-3 p-4 z-depth-2">
                    <img src="{{ type.logo }}" alt="{{ type.libelle }}" class="img-fluid"><br>
                    <p class="h4 teal-text text-darken-3">{{ type.libelle }}</p>
                </a>
            {% endfor %}
        </div>
        <div class="col s10">
            {% if attributs is defined %}
                {% include 'front_office/search/form_attributs.html.twig' with form %}
            {% endif %}
            {% if patrons is defined %}
                {% include 'front_office/search/resultats.html.twig' with patrons %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bootstrap-select-js') }}
{% endblock %}