{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Modifier la version de patron {{ version }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap-select-css') }}
{% endblock %}

{% block content %}
    <div class="row teal-text darken-4 mb-5"><h3>Modifier la version de patron {{ version }}</h3></div>
    {% if pattern %}<small>Le patron sélectionné est : {{ pattern }}</small>{% endif %}
    <div class="container teal lighten-5">
        {% include 'admin/version/_form.html.twig' with {'bouton_label' : 'Modifier'} %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bootstrap-select-js') }}
    {{ encore_entry_script_tags('upload') }}
{% endblock %}