<div class="col-4">
    <div class="card teal lighten-4">
        <div class="card-image">
            <img src="/uploads/pattern_images/{{ pattern.image }}" alt="{{ pattern.name }}">
            <a href="{{ path('pattern_patrontheque', { 'slug' : pattern.slug}) }}"
               class="btn-floating halfway-fab teal lighten-3 js-like">
                {% if app.user and pattern.inPatronthequeByUser(app.user) %}<i class="fas fa-bookmark"></i>
                {% else %}<i class="far fa-bookmark"></i>
                {% endif %}</a>

            <a href="" class="btn-floating halfway-fab teal lighten-3 mr-5">
                {% if app.user %}<i class="fas fa-heart"></i>
                {% else %}<i class="far fa-heart"></i>
                {% endif %}</a>


        </div>
        <div class="card-content">
            <span class="card-title center"><a href="{{ path('front_pattern' , {'slug' : pattern.slug}) }}"
                                               class="teal-text text-darken-4">{{ pattern.name }}</a></span>
            <p class="teal-text text-darken-2">{{ pattern.description }}</p>
        </div>
    </div>
</div>
