{% extends 'fo_partials/base.html.twig' %}

{% block title %} {{ brand.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-5">
            <div class="teal lighten-5 text-center rounded">
                <div>
                    <img src="/uploads/brand_images/{{ brand.image }}" alt="{{ brand }}"
                         class="responsive-img rounded mt-3">
                </div>
                <h4 class="teal-text text-darken-4 font-weight-bold"> {{ brand.name }}
                        <a href="{{ path('brand_like', { 'slug' : brand.slug}) }}" class="btn-floating waves-effect waves-light teal js-like">
                        {% if app.user and brand.isLikedByUser(app.user) %}<i class="fas fa-heart"></i>
                        {% else %}<i class="far fa-heart"></i>
                        {% endif %}
                    </a>
                </h4>
                <div class="my-5">{{ brand.description }}</div>
            </div>
        </div>
        <div class="row">
            {% for pattern in brand.patterns %}
                {% include 'fo_partials/_patternCard.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onclickBtnLike(event){
            event.preventDefault();
            const url = this.href;

            const icone = this.querySelector('i');
            axios.get(url).then(function(response)
            {
                console.log(response);
                if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far');
                }else{
                    icone.classList.replace('far', 'fas');
                }
            }).catch(function (error) {
                if(error.response.status === 403) {
                    window.alert('Vous devez être connecté"')
                } else {
                    window.alert('Une erreur s\'est produite')
                }
                
            })
        }
        document.querySelectorAll('a.js-like').forEach(
            function (link) {
                link.addEventListener('click', onclickBtnLike);

            }
        );
    </script>
{% endblock %}